.asistente {
  font-family: var(--font-family);
  min-height: 100vh;
  background: #f6f9fb;
  color: #334155;
}

.main {
  min-height: 40vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
